{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}BioPay | Dashboard{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<style>
    .section {
       background: #db3717;
       border-color: #28346C;
       color: #fff;
       position: relative;

    }
    .search-category {
         position: absolute;
         top: 190px;
         width: 71%;
    }

</style>
<div class="section">
    <div class="container py-5" style="height: 32vh;">
        <div class="row mt-5">
            <div class="col">
                <h3 style="font-family: vremenagrotesk,sans-serif;font-weight: 900;line-height: 1.5;"><b>
                    {% if 0 >= now %}
                    Good morning,
                    {% elif now < 11.1 %}
                    Good morning,
                    {% elif 12 >= now %}
                    Good afternoon,
                    {% elif now < 15.1 %}
                    Good afternoon,
                    {% elif 16 >= now %}
                    Good evening,
                    {% elif now < 19.1 %}
                    Good evening,
                    {% elif 20 >= now %}
                    Good night,
                    {% elif now < 23.1 %}
                    Good night,
                    {% endif %}
                    {% if request.user.first_name %}
                    {{ request.user.first_name }} 😉!
                    {% elif request.user.username %}
                    {{ request.user.username }}😉! {% endif %}</b>
                </h3>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col">
                        <div class="media">
                            <img src="{% static 'images/4-thumb.png' %}" width="50" height="50"
                                 class="mr-2  user-image" fill="#fff" alt="">
                            <div class="media-body ml-1">
                                <h6 class="fs-6 fw-semibold text-white">
                                    <b>{{request.user}}</b>
                                </h6>
                                <p>{{ request.user.status }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        {% if request.user.status == "Student" %}
                        <form action="{% url 'search_drivers' %}" method="GET" id="driver-search-form">
                            <input type="hidden" id="latitude" name="latitude">
                            <input type="hidden" id="longitude" name="longitude">

                            <button class="btn btn-danger shadow btn-block" onclick="getUserLocation()" type="submit">
                                SEARCH DRIVERS
                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                     class="bi bi-search" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                    <path fill-rule="evenodd"
                                          d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                </svg>
                            </button>
                        </form>
                        <script>
                            function getUserLocation() {
                                if (navigator.geolocation) {
                                    navigator.geolocation.getCurrentPosition(showPosition);
                                    alert("Location collected!")
                                } else {
                                    alert("Geolocation is not supported by this browser.");
                                }
                            }

                            function showPosition(position) {
                                document.getElementById("latitude").value = position.coords.latitude;
                                document.getElementById("longitude").value = position.coords.longitude;
                                document.getElementById('driver-search-form').submit();
                            }

                        </script>
                        {% else %}
                        <button class="btn btn-block">
                            INITIATE PAYMENT
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="search-category">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-element p-3"
                             style="background-color: white !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                 fill="currentColor" class="bi bi-wallet2 mb-1"
                                 viewBox="0 0 16 16">
                                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                            </svg>
                            <b>Account Balance</b>
                            <hr class="my-2 mb-3">
                            <div class="row">
                                <div class="col">
                                    {% if request.user.account.amount %}
                                    <h4 id="amount-count">
                                        ₦{{request.user.account.amount|intcomma}}
                                    </h4>
                                    {% else %}
                                    <h4>₦0.00</h4>
                                    {% endif %}
                                </div>
                                <div class="col-auto">
                                    <span data-target="#TopUpModal"
                                          style="background-color: #fd5631;
                                    border-radius: 10px;padding:13px; cursor: pointer;"
                                          data-toggle="modal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                             fill="white"
                                             class="bi bi-folder-plus" viewBox="0 0 16 16">
                                        <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                                        <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-element p-3"
                             style="background-color: white !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                 class="bi bi-truck-front mb-1" viewBox="0 0 16 16">
                                <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zM4 2a1 1 0 0 0-1 1v3.9c0 .625.562 1.092 1.17.994C5.075 7.747 6.792 7.5 8 7.5s2.925.247 3.83.394A1.008 1.008 0 0 0 13 6.9V3a1 1 0 0 0-1-1zm0 1h8v3.9q0 .002 0 0l-.002.004-.005.002h-.004C11.088 6.761 9.299 6.5 8 6.5s-3.088.26-3.99.406h-.003l-.005-.002L4 6.9q0 .002 0 0z"/>
                                <path d="M1 2.5A2.5 2.5 0 0 1 3.5 0h9A2.5 2.5 0 0 1 15 2.5v9c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.5 2.5 0 0 1-1-2zM3.5 1A1.5 1.5 0 0 0 2 2.5v9A1.5 1.5 0 0 0 3.5 13h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 1z"/>
                            </svg>
                            <b>Ongoing Ride</b>
                            <hr class="my-2 mb-3">
                            <div class="row">
                                <div class="col">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor"
                                         class="bi bi-geo-alt mt-1" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    <b class="mt-4">
                                        End location:
                                    </b>
                                </div>
                                <div class="col-auto d-none">

                                    <h4><b>Arafims</b></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="box-element py-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                 class="mb-1 bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                            </svg>
                            <b>Notifications</b>
                            <hr class="my-2 mb-3">
                            <div class="row">
                                <div class="col">
                                    <h4>
                                        {% if notifications|length >= 1 %}
                                        You have {{notifications|length}} unread notification
                                        {% else %}
                                        Nothing to see here
                                        {% endif %}
                                    </h4>
                                </div>
                                <div class="col-auto">
                                    <a onclick="openNav()" href="#" class="btn btn-info">Check?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bgi-position-y-bottom p-4
                    min-h-250px mb-5 mb-xl-10 bg-warning"
                     style="background-size: 65% 100%;background-repeat: no-repeat;
                        background-position: right;
                     background-image:url('{% static 'images/city.png' %}')">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column justify-content-center
                        align-items-start ps-lg-15">
                        <!--begin::Title-->
                        <h3 class="text-white d-flex fs-2x mb-2 mb-lg-4">
                            <b>Help &amp; Support</b>
                        </h3>
                        <!--end::Title-->

                        <!--begin::Description-->
                        <div class="text-white fs-4 fw-bold mb-4 mb-lg-8">
                            <b>Our customer service is about empathy</b>
                        </div>
                        <!--end::Description-->

                        <!--begin::Action-->
                        <div class="pt-2 pt-lg-4">
                            <a href="/keen/demo3/pages/contact.html" class="btn btn-success fw-semibold">
                                Contact Us </a>
                        </div>
                        <!--begin::Action-->
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
        <style>
            .image-container {
                position: relative;
                width: 100%;
                max-width: 600px; /* Adjust the max-width as needed */
                margin: 0 auto; /* Center the container horizontally */
            }

            .background-image {
                width: 100%;
                height: 300px;
                display: block;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            .overlay-card {
                position: absolute;
                left: 50%;
                bottom: -16%; /* Adjust this value to control how far up the card is from the bottom */
                transform: translateX(-50%);
                width: 85%; /* Adjust the width as needed */
                padding: 15px;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                text-align: center;
                border-right: 5px solid #fd5631; /* Add the orange border to the right side */
                border-radius: 10px; /* Optional: Rounded corners */
            }
        </style>

        <div class="row">
            <div class="col-lg-9 ">
                <div class="box-element mb-4 mbg-gradient">
                    <style>
                        .bg-gradient {
                            background-color: #b03a2e;
                            font-color: black;
                            text-color: #fff;
                        }
                    </style>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                         class="mb-1 bi bi-bar-chart-line" viewBox="0 0 16 16">
                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1zm1 12h2V2h-2zm-3 0V7H7v7zm-5 0v-3H2v3z"/>
                    </svg>
                    <b>Travel statistics</b>
                    <hr>
                    <h4>₦{{ride_total|intcomma}}</h4>
                    <p class="badge badge-secondary p-2">Avg ₦{{month|intcomma}} per month</p>
                    <canvas class="my-2 w-100 p-2 rounded" id="pie-chart" width="900" height="300"
                            style="font-color: white;text-color: #fff;">
                    </canvas>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="box-element">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                         class="mb-1 bi bi-truck-front" viewBox="0 0 16 16">
                        <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zM4 2a1 1 0 0 0-1 1v3.9c0 .625.562 1.092 1.17.994C5.075 7.747 6.792 7.5 8 7.5s2.925.247 3.83.394A1.008 1.008 0 0 0 13 6.9V3a1 1 0 0 0-1-1zm0 1h8v3.9q0 .002 0 0l-.002.004-.005.002h-.004C11.088 6.761 9.299 6.5 8 6.5s-3.088.26-3.99.406h-.003l-.005-.002L4 6.9q0 .002 0 0z"/>
                        <path d="M1 2.5A2.5 2.5 0 0 1 3.5 0h9A2.5 2.5 0 0 1 15 2.5v9c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.5 2.5 0 0 1-1-2zM3.5 1A1.5 1.5 0 0 0 2 2.5v9A1.5 1.5 0 0 0 3.5 13h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 1z"/>
                    </svg>
                    <b>Previous trips</b>
                    <hr>
                    {% if ride_history %}
                    {% for ride in ride_history %}
                    <a class="text-decoration-none text-dark" href="{{ride.get_absolute_url}}">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor"
                                         class="bi bi-geo-alt mt-2" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    <div class="media-body ml-2">
                                        <b>{{ride.end_location}}</b>
                                        <div>
                                            <small>{{ride.start_time|date}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <b>₦{{ride.fare|intcomma}}</b>
                            </div>
                        </div>
                    </a>
                    <hr>
                    {% endfor %}
                    {% else %}
                    No available ride yet
                    {% endif %}
                </div>
            </div>
        </div>
        <section class="d-none">
            <b>Recent Drivers</b>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="{% static 'images/4-thumb.png' %}" alt="Image Description"
                             class="background-image">
                        <div class="overlay-card">
                            <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="currentColor"
                                     class="bi bi-person-fill mr-0 mb-1" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>
                                <b>Fred</b>
                            </h5>
                            <b>
                                <svg width=".8em" height=".8em" viewBox="0 0 16 16"
                                     class="bi mr-1 bi-telephone-outbound-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                08065658734</b>
                            <br>
                            <b>
                                <svg xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" fill="currentColor"
                                     class="bi bi-calendar3 mr-1" viewBox="0 0 16 16">
                                    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                                May 22 &bull;
                                <svg xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" fill="currentColor"
                                     class="mr-1 bi bi-star-fill mb-1" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                4/5 </b>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="{% static 'images/3.jpg' %}" alt="Image Description"
                             class="background-image">
                        <div class="overlay-card">
                            <h4>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="currentColor"
                                     class="bi bi-person-fill mr-1 mb-1" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>
                                Jane
                            </h4>
                            <b>
                                <svg width=".8em" height=".8em" viewBox="0 0 16 16"
                                     class="bi mr-1 bi-telephone-outbound-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                08065658734</b>
                            <br>
                            <b>
                                <svg xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" fill="currentColor"
                                     class="bi bi-calendar3 mr-1" viewBox="0 0 16 16">
                                    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                                May 22 &bull;
                                <svg xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" fill="currentColor"
                                     class="mr-1 bi bi-star-fill mb-1" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                4/5 </b>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div align="center">
                <a class="btn" href="">View All</a>
            </div>
        </section>
        <br>
        <br>
    </div>
</div>
<script>
    var config = {
      type: 'bar',
      data: {
        datasets: [{
          data:
          [
          350, 700, 300, 450, 550, 600, 700
          //{% for product in chart_products %}
          //{{product}},
          //{% endfor %}

        ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(58, 224, 25, 0.5)',
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(58, 224, 25, 1)',
        ],
        borderWidth: 4,
        color: ['#000'],
        pointBackgroundColor: '#00FFFF',
        label: 'Prices',
        }],
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Wednesday', 'Friday'],
        //labels: {{ DOW_CHOICES|safe }},
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

</script>

<script>
    function animateValue(obj, start, end, duration) {
      let startTimestamp = null;
      const step = (timestamp) => {
        if (!startTimestamp) startTimestamp = timestamp;
        const progress = Math.min((timestamp - startTimestamp) / duration, 1);
        const animatedValue = Math.floor(progress * (end - start) + start);

        // Format the animated value as intcomma with Naira sign
        const formattedValue = formatNumberWithNairaSign(animatedValue);
        obj.textContent = formattedValue;

        if (progress < 1) {
          window.requestAnimationFrame(step);
        }
      };
      window.requestAnimationFrame(step);
    }


    function formatNumberWithNairaSign(number) {
      const formattedNumber = number.toFixed(2); // Adjust decimals here (e.g., .toFixed(1) for one decimal)
      return "₦" + formattedNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    const obj = document.getElementById("amount-count");
    const actualAmount = parseFloat({{ request.user.account.amount }}); // Assuming request.user.account.amount is a float
    animateValue(obj, 0, actualAmount, 4000);

</script>

{% endblock%}